body {
  margin: 0;
  padding: 0.5rem;
  font-family: sans-serif;
  background-color: #cccccc;
}

.examples {
  /* display: flex; */
}
.example {
  background-color: #aaaaaa;
  border-radius: 0.25rem;
  margin: 0px;
  padding: 0.5rem;
  margin: 0.25rem;
}

.item {
  font-family: sans-serif;
  background-color: #eeeeee;
  border-radius: 0.25rem;
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.5rem;
  padding-left: 0.25rem;
  opacity: 1;
}

.item .title {
  font-weight: bold;
  font-size: 125%;
  margin: 0;
  margin-bottom: 0.3rem;
}

.item .body {
  margin: 0;
  margin-bottom: 0.3rem;
}

.item .small {
  font-size: 66%;
  text-align: right;
  white-space: nowrap;
}

.dragged .item {
  opacity: 0.1;
}

.floating .item {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 2rem #666666;
}

/* ******************** */

.vertical .item {
  display: flex;
}

.vertical .item .icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.vertical .item .details {
  flex-grow: 2;
}

.horizontal .item {
  width: 7rem;
  text-align: center;
}

.horizontal .item .icon {
  font-size: 5rem;
}

.horizontal .item .small {
  text-align: center;
}